<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opis</title> 
    <!-- Bootstrap CSS -->   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    
    <style>
        body {
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            background-color: aqua;
            color: #333;
            margin: 20px;
        }

        p {
            margin-bottom: 15px;
        }
    </style>
    
</head>
<body>
    <p>
        Ovaj Flask kod predstavlja web aplikaciju koja koristi SQLite bazu podataka za skladištenje poruka. Aplikacija ima tri ključne rute:
    </p>
    <p>
        Početna stranica ("/"):<br>
        Prikazuje osnovnu stranicu aplikacije.<br>

        Stranica sa opisom ("/opis"):<br>
        Prikazuje stranicu sa dodatnim informacijama ili opisom, često korišćenu za opis autora ili svrhe aplikacije.<br>

        Stranica sa porukama ("/blog"):<br>
        Prikazuje sve poruke koje su korisnici dodali putem forme na stranici. Poruke se čuvaju u SQLite bazi podataka.<br>
    </p>
    <p>
        Aplikacija omogućuje korisnicima da dodaju nove poruke putem forme na stranici "/blog" i isto tako da brišu postojeće poruke. Dodavanje poruke se vrši preko HTTP POST zahteva, dok se brisanje vrši preko HTTP GET zahteva sa odgovarajućim identifikatorom poruke.<br>

        SQLite baza podataka se koristi za trajno čuvanje podataka, a SQLAlchemy omogućuje lak pristup i manipulaciju bazom podataka u Flask okviru.<br>

        Aplikaci ja se pokreće lokalno ako se izvrši kao samostalni program (if __name__ == "__main__": app.run()).<br>
    </p>
    <p>
        <i class="bi bi-browser-edge"></i><a href="/">Pocetna</a>
    </p>
</body>
</html>
